<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>233996932009-c972em8hgvfaq1k0nqqpi57rjmuh0uu6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.233996932009-c972em8hgvfaq1k0nqqpi57rjmuh0uu6</string>
	<key>API_KEY</key>
	<string>AIzaSyBqQHEpFiSdsWb4fdR-cY1nDnJ7RusMOPw</string>
	<key>GCM_SENDER_ID</key>
	<string>233996932009</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerceApp</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-app-1fbc7</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-app-1fbc7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:233996932009:ios:ddf3bf0d4c49703aa7eab8</string>
</dict>
</plist>